<!doctype html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:fragment="parent(content,title,script)" >
<head>
	<meta charset="UTF-8" />
	<title th:replace="${title}">SCM</title>
	<script src="https://cdn.tailwindcss.com"></script>
	<link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css"  rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="@{'/css/style.css'}" >
	
	

</head>
<body class="dark:bg-gray-900 bg-gray-100 dark:text-white">
<!--common header-->
<!--if user is logged in then shows below header-->
<div th:if="${loggedInUser}">
	<div th:replace="~{user/user_navbar::user-navbar}"></div>
	
</div >



<!--if user is not login then it shows below navbar-->
<div th:unless="${loggedInUser}">
	
	<div th:replace="~{navbar::navbar}"></div>
</div>



<!--main content -->
<div class="p-5 ">
<section th:replace="${content}">	</section>
</div>

<!--common footer-->
<!--<footer> footer:this is common footer</footer>-->
	<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<Script th:src="@{'/js/script.js'}"></Script>
	<th:block th:replace="${script}"></th:block>
</body>
</html>